/*-----------------------------------------
			 Google fonts (CDN)
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Roboto:400,700');

/*-----------------------------------------
			01.Genaral css
-----------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    /*    font-family: 'Maven Pro', sans-serif;*/
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: none;
}
a:active{
    outline: none;
}
.btn-custom {
    color: #fff;
    background: #e59700;
    border-radius: 0;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Maven Pro', sans-serif; 
    border:2px solid #e59700;
    position: relative;
    z-index: 1;
    opacity: hidden;
    transition: all .4s ease;
}
.btn-custom:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    z-index: -1;
}
.btn-custom:hover{
    color: #e59700 !important;
}
.btn-custom:hover.btn-custom:after {
    background: #fff;
    border:2px solid #e59700;
}
.navbar-nav .active > .nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show > .nav-link {
	background: #e59700;
}
/*-----------------------------------------
			01.header-top Css
-----------------------------------------*/
.header-top{
    background: #002327;
    padding: 5px 0;
}
.header-top-address li a{
    color:#61888b;
    font-size: 13px;
    padding-right: 20px;
}
.header-top-menu ul li{
    color:#61888b;
    font-size: 12px;
    padding-right: 0px;
    padding-left: 5px;
}
.header-top-menu ul li img{
    margin-right: 15px;
}
.socail{
    margin-left: 20px;
}
.socail .nav-link{
    padding: 0 !important;
}
.socail li{
    padding: 0 !important;
}
.socail li a {
    color: #fff;
    background: #365F9F;
    width: 18px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    margin-left: 5px;
}
/*-----------------------------------------
			01.navbar Css
-----------------------------------------*/
.navbar {
    background: #0093a1;
    padding: 0;
}
.dropdown-toggle::after {
   content: none;
}
.navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav li a:hover{
    background: #e59700;
}
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400 !important;
    border-radius: 0;
    margin-top: -1px;
    transition: all .4s ease;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-item {
    color: #00747f !important;
    border-bottom: 1px solid;
    font-weight: 400 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar-nav li a:last-child{
    border-bottom:0;
}
.btn-outline-success{
    color: #fff;
    border-color: #00747F;
    background: #0093A1;
    padding: 20px 24px;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    margin-left: 20px;
}
.btn-outline-success:hover{
        color: #fff;
        background: #0093A1;
     border-color: #00747F ;
}
.btn-outline-success:focus {
    box-shadow:none !important;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background: #0093A1;
     border-color: #00747F ;
}
.modal {
    top: 11%;
    left: 28%;
}
.btn-outline-success:hover.modal{
    display: block;
}
/*-----------------------------------------
			banner-section Css
-----------------------------------------*/
.banner-section{
    background: url('../images/slide-bg.png');
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.banner-section:before{
    position: absolute;
    content: "";
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #121919ba;
}
.banner {
    padding-bottom: 110px;
}
.banner-content{
    color: #fff;
    padding-bottom: 50px !important;
}
.banner-content h1{
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 600;
    padding-top: 120px;
}
.banner-content hr{
    max-width: 40px;
    height: 4px;
    background: #fff;
    margin-left: 0;
    margin: 30px 0;
}
.banner-content p{
    max-width: 700px;
    padding: 10px 0 30px;
}
.serving-years{
    color: #fff;
}
.serving-years ul {
    align-items: center;
}
.serving-years-30 li{
    font-weight: 500;
    display: inline-block;
    text-align: right;
}
.serving-years-30-text{
    max-width: 255px;
    padding-right: 20px;
    border-right: 2px solid #ffffff80;
}
.serving-years-30 li img {
    padding-left: 25px;
}

/*-----------------------------------------
			news-item Css
-----------------------------------------*/
.news-item{
    border-bottom: 1px solid #0093a1;
}
.news-item ul li a{
    background: #fff;
    color:  #0093a1;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 0 !important;
    border-bottom: 1px solid #0093a1;
}
.news-item ul li a.active,.news-item ul li a:hover{
    background: #0093a1 !important;
    color: #fff;
}
/*-----------------------------------------
			recent-article-section Css
-----------------------------------------*/
.recent-article-section{
    padding: 60px 0;
    border-bottom: 1px solid #0093a1;
}
.recent-article-content{
    text-align: center;
    padding: 55px 0;
}
.recent-article-content h2{
    text-transform: uppercase;
    font-size: 36px;
    color: #0093a1;
    font-family: 'Maven Pro', sans-serif;
    padding-bottom: 15px;
}
.recent-article-content img{
    border: 1px solid #24a2ae;
    padding: 15px 50px;
}


/*-----------------------------------------
			Window-Films-section Css
-----------------------------------------*/
.Window-Films-section{
    padding: 100px 0;
}
.Window-Films-content h2{
    color:#0093a1;
    font-size: 40px;
    text-align:center;
    text-transform:uppercase;
}
.Window-Films-content hr{
    max-width: 30px;
    height: 3px;
    background: #0093a1;
    margin: 30px auto;
}
.Window-Films-content p{
    max-width: 975px;
    color: #777777;
    padding: 20px 0 30px;
}


/*-----------------------------------------
			Window-designed-section Css
-----------------------------------------*/
.Window-designed-section{
    background: url('../images/3m-windows-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 50px 0;
    background-attachment: fixed;
}
.Window-designed-section:before{
    position: absolute;
    content: "";
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #00a1b1eb;
    z-index: -1;
}
.Window-designed-content{
}
.Window-designed-content h2{
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    padding: 30px 0 20px;
}
.Window-designed-content hr{
    max-width: 30px;
    height: 2px;
    background: #fff;
}
.window-text{
    text-align: center;
    padding: 40px 0 40px;
}
.Window-designed-img{
    border-radius: 50%;
    border: 3px solid #fff;
    max-width: 145px;
    height: 145px;
    line-height: 145px;
    margin: 0 auto;
    
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
        transition:all .4s ease;
}
.window-text h5{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 30px 0;
    
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
        transition:all .4s ease;
}
.window-text:hover .Window-designed-img{
    border: 3px solid #E59700;
}

.window-text:hover.window-text h5{
    color:#E59700;
}
.Window-designed-details{
    padding: 10px 0;
}
.Window-designed-details p{
    color: #fff;
    max-width: 995px;
}


/*-----------------------------------------
			Testimonials-section Css
-----------------------------------------*/
.Testimonials-section{
    padding: 50px 0;
}
.heading{
    padding-top: 20px;
}
.heading h2{
     color:#0093a1;
     text-align: center;
     text-transform: uppercase;
     font-size: 40px;
}
.heading hr{
    max-width: 30px;
    height: 2px;
    background: #0093a1;
}
.testimonials-content{
    text-align: center;
    position: relative;
    width: 100%;
}
.testimonials-content p{
    max-width: 790px;
    margin: 0 auto;
    color: #0093a1c9;
    position: relative;
    padding: 12px 0;
}
.testimonials-img-left{
    position: absolute;
    left: 10%;
}
.testimonials-img-right{
    position: absolute;
    right: 10%;
    bottom: 55%;
}
.testimonials-content h6{
    font-size: 18px;
    color: #0093a1;
    font-weight: 600;
    padding-bottom: 35px;
    padding-top: 10px;
}
.carousel-control-next, .carousel-control-prev {
    width: 5% ;
    color: #0093a1;
    opacity: 0;
}
.Testimonials-section:hover .carousel-control-next,
.Testimonials-section:hover .carousel-control-prev{
     color: #0093a1;
    opacity: .9;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -18%;
}
.carousel-indicators{
        opacity: 0;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1a6670;

}
.Testimonials-section:hover .carousel-indicators{
     opacity: .9;
}
/*-----------------------------------------
			blog-section Css
-----------------------------------------*/
.blog-section{
    padding: 50px 0;
}
.blog-content{
    color:#0093a1;
    border: 2px solid #009ab6;
    padding: 20px 40px;
    transform:scale(1);
    
    transition: all .4s ease;
    
}
.blog-content:hover{
    transform:scale(1.1);
    box-shadow: 1px 1px 5px 3px #babebe94;
}
.blog-content h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Maven Pro', sans-serif;
    margin: 0px auto;
}
.blog-content p{
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
}
/*-----------------------------------------
			contact-section Css
-----------------------------------------*/
.contact-section {
    padding: 40px 0;
}
.tint-content{
    padding:  35px 35px 5px 35px;
}
.tint-content h2{
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Maven Pro', sans-serif;
}
.tint-content hr{
    max-width: 10%;
    height: 2px;
    background: #fff;
    margin-left: 0;
}
.tint {
    background: #0093a1;
    padding: 0;
}
.address li{
    color: #ffffffe6;
    padding: 3px 0;
}
.contact-us{
     border: 2px solid #fff;
     padding: 10px 15px;
}
.contact-us p{
    color: #ffffffd1;
    font-weight: 500;}

/*-----------------------------------------
			partners-section Css
-----------------------------------------*/
.partners-content h2{
    text-align: center;
    font-size: 24px;
    font-family: 'Maven Pro', sans-serif;
    padding: 40px 0;
    color:#0093a1;
}
.partners-content img{
    padding: 0 0 35px 0;
}


/*-----------------------------------------
			footer-section Css
-----------------------------------------*/
.footer-section{
    background: #002327;
    padding: 50px 0 15px;
}
.footer-heading p{
    font-size: 14px;
    color:#fff;
}
.footer-heading ul li a{
    color: #61888b;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 2.3;
    margin-bottom: 10px;
}
.footer-heading span {
    font-size: 24px;
    color: #fff;
}
.footer-sales p {
    color: #0093a1;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.footer-socail li a{
    color: #fff;
    background: #365F9F;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: 15px;
    padding: 0;
    border-radius: 50%;
}
.footer-socail li a:hover{}
label {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
select:not(:last-child), .input-group>.form-control:not(:last-child) {
    font-style: italic !important;
}
.input-group .form-control {
    width: 50%;
    background-color: #0C2B2F;
    border: none !important;
    border-radius: 0;
}
.form-control:focus {
    color: #fff;
     background-color: #0C2B2F;
    border-color: #0C2B2F;
    outline: 0;
    box-shadow: 0 0 0 0;
}
.form-control::placeholder{
    color:#61888b;
}
.btn-primary {
    background: #003B42 !important;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: 800;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.technical-heading p{
    color:#fff;
}
/*-------------- footer-years Css ------------------*/
.footer-years{
    color: #fff;
}
.footer-years ul {
    justify-content: flex-end;
}
.footer-years-30 li{
    font-weight: 500;
    display: inline-block;
    text-align: right;
    align-self: center;
}
.footer-years-30-text{
    max-width: 190px;
    padding-right: 20px;
    border-right: 2px solid #ffffff80;
    font-size: 12px;
}
.footer-years-30 li img {
    padding-left: 25px;
}
hr{
    width: 100%;
    border-color:#0093A1;
   
}
.copy-text p{
     color:#61878a;
    font-size:12px;
    margin-bottom:0 !important;
    text-transform:uppercase;
}
.copy-right ul li a{
    color:#61878a;
    font-size:12px;
    padding-right: 0;
    text-transform:uppercase;
}
.copy-right ul li {}


/*-----------------------------------------
			scroll-top-Section Css
-----------------------------------------*/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 8px;
    text-align:center;
    line-height: 40px;
    z-index: 999;
    /*    display: none;*/
    background-color: #00a2b6;
}
.scrollup i{
    color:#E59700;
}